*{
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: whitesmoke;
}
@media(max-width:375px){
    body{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    height: auto;
    }
}

.attribution { font-size: 11px; text-align: center; margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%); }

.main-container{
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
}
@media(max-width:375px){
    .main-container{
    display: flex;
    flex-direction:column;
    max-width: 350px;
    }
}
.container{
    display: flex;
    justify-content: center;
    max-width: 850px;
}

@media(max-width:375px){
    .container{
    display: flex;
    flex-direction:column;
    max-width: 350px;
    }
}
.article{
    padding: 35px;
    min-height: 335px;
    width: 25%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media(max-width:375px){
    .article{
        padding: 45px;
        min-height:320px;
    }
}
.article.activa{
    width: 50%;
}
.sedan{
    color: white;
    background-color: hsl(31, 77%, 52%);
    border-radius:15px 0 0 15px; 
}
.suv{
    color: white;
    background-color: hsl(184, 100%, 22%);
}
.lux{
    color: white;
    background-color: hsl(179, 100%, 13%);
    border-radius:0 15px 15px 0 ; 
}
@media(max-width:375px){
    .sedan{
        border-radius: 15px 15px 0 0;
        width: 350px;
    }
    .suv{
        width: 350px;
    }
    .lux{
        border-radius: 0 0 15px 15px;
        width: 350px;
    }
    .article.activa{
        width: 100%;
    }
}
h2{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    flex-grow: 1;
}
button{
    margin-top:50px;
    margin-bottom: 0;
    background-color: hsl(0, 0%, 95%);
    width: 60%;
    height: 34px;
    border-radius: 20px;
    border-style: none;
    text-transform: capitalize;
}
@media(max-width:375px){
    h2{
        font-size: 2rem;
    }
    button{
        width: 45%;
        height: 40px;
    }
}
.sedan button{
    color: hsl(31, 77%, 52%);
}
.suv button{
    color: hsl(184, 100%, 22%);
}
.lux button{
    color: hsl(179, 100%, 13%);
}
button:hover{
    background-color: transparent;
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    border-style: solid;
    border-color: hsl(0, 0%, 95%);
}